#contenedor {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column; /* Cambiado a columna para dispositivos móviles */
  }
  #exp-animado{
    padding-top: 300px;
}

  #contenedor-interno {
    background: linear-gradient(225deg, #00010a, #00010c);
    box-shadow: -50px 50px 100px #000004, 50px -50px 100px #000212;
    border-radius: 37px;
    width: 70%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #contenido1,
  #contenido2 {
    flex: 1;
    text-align: center;
  }

  /* Estilos opcionales para mejorar la apariencia */
  #contenido1 {
    margin-right: 10px;
  }
  #parrafo-exp{
    text-align: left;
  }

  #contenido2 {
    margin-left: 10px;
  }
  @media (max-width: 1000px) {
    #contenedor-interno {
        width: auto;
        /* Cambiar a columna para dispositivos móviles */
        height: auto; /* Ajustar la altura automáticamente */
      }
  }

  @media (max-width: 620px) {
    #contenedor-interno {
      
      width: 110%; /* Reducir el ancho para dispositivos móviles */
      flex-direction: column; /* Cambiar a columna para dispositivos móviles */
      height: auto; /* Ajustar la altura automáticamente */
    }
    #exp-animado{
        padding-top: 700px;
    }

    #contenido1,
    #contenido2 {
        
        
      margin: 10px 0; /* Añadir espacio entre los elementos para dispositivos móviles */
    }
  }
  #contenedor{
    width: auto;
    
        
  }
  #parrafo-exp{
    text-align: center;
  }